@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 0px;
}.flaticon-badges1:before {
	content: "\e000";
}
.flaticon-black200:before {
	content: "\e001";
}
.flaticon-cat19:before {
	content: "\e002";
}
.flaticon-checked21:before {
	content: "\e003";
}
.flaticon-dog77:before {
	content: "\e004";
}
.flaticon-scalpel1:before {
	content: "\e005";
}
