<div class="container">
  <div class="row row-centered">
    <div class="col-lg-6 col-centered">
        <div class="panel panel-default">
          <div class="panel-body">
            <highchart id="chart1" config="caseDistChartConfig"></highchart>
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-centered">
        <div class="panel panel-default">
          <div class="panel-body">
            <highchart id="chart2" config="speciesChartConfig"></highchart>
          </div>
        </div>
    </div>
  </div>
 <div class="row row-centered">
    <div class="col-lg-12 col-centered">
          <input type="text" class="form-control" placeholder="Search by anything" ng-model="search"><br>
       <table class="table table-condensed table-hover">
          <tr>
            <th>Date</th>
            <th>PatientID</th>
            <th>Name</th>
            <th>Species</th>
            <th>Diagnoses</th>
            <th>Clinician</th>
            <th>Student</th>
            <th>Case Type</th>
          </tr> 
          <tr class="animate-show" tooltip-popup-delay='500' tooltip-trigger="mouseenter" uib-tooltip="{{studentcase.summary}}" tooltip-append-to-body="true" dir-paginate="studentcase in caseArray | filter:search | orderBy:'date' |itemsPerPage: 15">
            <td>{{studentcase.date | date:'MMM dd, yyyy'}}</td>
            <td>{{studentcase.patientId}}</td>
            <td>{{studentcase.patientName}} {{studentcase.patientSurname}}</td>
            <td>{{studentcase.patientSpecies}}</td> 
            <td>{{studentcase.diagnoses | prettyArrayOutput}}</td> 
            <td>{{studentcase.clinician}}</td> 
            <td>{{studentcase.studentName}}</td>
            <td>{{studentcase.caseType | capitalize}}</td>
          </tr>
      </table> 

      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
</div> 

<!--           <div class="panel panel-default">
            <div class="panel-body">

              <ul>
                <li dir-paginate="t in tests | itemsPerPage: 3">{{ t }}</li>
                
              </ul>
            </div>
            <dir-pagination-controls></dir-pagination-controls>
          </div> -->

  <!-- <div style="width: 1500px; height: 305px"> -->
d

