<script type="text/ng-template" id="newUser.html">
  <div class="modal-header">
    <h3 class="modal-title">Create a new user!</h3>
  </div> 
  <div class="modal-body">
  <input type="text" class="form-control form-inline" placeholder="What's your name?" ng-model="newStudentName">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
<div class="container-fluid">
<div class="row">
  <div class="col-lg-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group form-inline" name="netIdform">
        <input type="text" 
               name="netidInput"
               class="form-control form-inline" 
               placeholder="Enter your NetId" 
               ng-model="netId" 
               ng-disabled="user">
        <input type="submit" ng-class="{'btn-success': !loggedIn, 'btn-danger': loggedIn}" class="form-control" value="{{loginText}}" ng-click="loginOrOut()" ng-disabled="!netId">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-7">
      <h4>Date case was seen</h4>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-disabled="!user"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)" ng-disabled="!user"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>Patient Info</h4>
      <form class="form-group form-inline">
        <div class="form-group">
            <label for="patientID" class="sr-only">Patient ID</label>
            <input type="text" class="form-control" placeholder="Patient ID" ng-model="case.patientId" ng-disabled="!user" required>
          </div>
        <div class="form-group btn-group" ng-disabled="!user" required>
            <label class="btn btn-default btn-species" ng-model="case.patientSpecies" uib-btn-radio="'Canine'"><i class="flaticon-dog77"></i> </label>
            <label class="btn btn-default btn-species" ng-model="case.patientSpecies" uib-btn-radio="'Feline'"><i class="flaticon-cat19"></i></label>
            <label class="btn btn-default btn-species" ng-model="case.patientSpecies" uib-btn-radio="'Equine'"><i class="flaticon-black200"></i></label>
            <label class="btn btn-default btn-species" ng-model="case.patientSpecies" uib-btn-radio="'Other'"><i class="flaticon-hare"></i></label>
        </div>
        <br>
        <div class="form-group">
          <label for="Patient Name" class="sr-only">Patient name</label>
          <input type="text" class="form-control name-input" placeholder="Patient name" ng-model="case.patientName" value="Fluffy" ng-disabled="!user" required>
        </div>
        <div class="form-group">
          <label for="Patient Surname" class="sr-only">Patient last name</label>
          <input type="text" class="form-control name-input" placeholder="Patient last name" ng-model="case.patientSurname" value="Smith" ng-disabled="!user" required>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>Case info</h4>
      <form class="form-group">
        <label class="radio-inline">
          <input type="radio" name="case-type" ng-model="case.caseType" value="new" ng-disabled="!user">New case
        </label>
        <label class="radio-inline">
          <input type="radio" name="case-type" ng-model="case.caseType" value="recheck" ng-disabled="!user">Recheck
        </label> 
        <label class="divider"><b>|</b>
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" name="case-type" ng-model="case.surgeryProcedure" value="procedure" ng-disabled="!user">Procedure performed?
        </label>
      </form>

      <div class="form-group animate-show" ng-show="case.surgeryProcedure">
        <div ng-repeat="procedure in case.procedures track by $index">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" uib-typeahead="procedure for procedure in procedures | filter:$viewValue | limitTo:8" ng-model="case.procedures[$index].procedure" placeholder="Name of procedure" ng-disabled="!user">
              <div class="btn-group">
                  <label class="btn btn-default" ng-model="case.procedures[$index].location" uib-btn-radio="'OD'">OD</label>
                  <label class="btn btn-default" ng-model="case.procedures[$index].location" uib-btn-radio="'OS'">OS</label>
                  <label class="btn btn-default" ng-model="case.procedures[$index].location" uib-btn-radio="'OU'">OU</label>
                  <label class="btn btn-default" ng-model="case.procedures[$index].location" uib-btn-radio="'N/A'">N/A</label>
              </div>
            </div>            
          </form>
        </div>
        <button ng-disabled="!user" ng-click="addProcedure()" type="button" class="btn btn-default" aria-label="Left Align" ng-show="case.surgeryProcedure">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Add procedure </button>

        <h5>What was your level of involvement?</h5>
        <label class="radio">
          <input type="radio" name="case-involvement" ng-model="case.studentInvolvement" value="1" ng-disabled="!user">Did most of the procedure.
        </label>
        <label class="radio">
          <input type="radio" name="case-involvement" ng-model="case.studentInvolvement" value="2" ng-disabled="!user">Did some of the procedure.
        </label>
        <label class="radio">
          <input type="radio" name="case-involvement" ng-model="case.studentInvolvement" value="3" ng-disabled="!user">Provided necessary pre/post-procedural care &amp; patient care
        </label>

      </div>

      <h5>Diagnoses</h5>
      <div class="form-group">
        <div ng-repeat="diagnosis in case.diagnoses track by $index">
          <form class="form-inline">
            <div class="form-group">
              <label for="diagnosisExample" class="sr-only">Diagnosis here</label>
              <input type="text" uib-typeahead="diagnosis for diagnosis in diagnoses | filter:$viewValue | limitTo:8" class="form-control" ng-model="case.diagnoses[$index].diagnosis" placeholder="Diagnosis" ng-disabled="!user">
            <div class="btn-group">
                <label class="btn btn-default" ng-model="case.diagnoses[$index].location" uib-btn-radio="'OD'">OD</label>
                <label class="btn btn-default" ng-model="case.diagnoses[$index].location" uib-btn-radio="'OS'">OS</label>
                <label class="btn btn-default" ng-model="case.diagnoses[$index].location" uib-btn-radio="'OU'">OU</label>
                <label class="btn btn-default" ng-model="case.diagnoses[$index].location" uib-btn-radio="'N/A'">N/A</label>
            </div>
            </div>
          </form>
        </div>
        <button ng-disabled="!user" ng-click="addDiagnosis()" type="button" class="btn btn-default" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  Add diagnosis </button>
      </div>

      <h5>Case Summary (200 character limit) <i class="fa fa-question-circle" uib-popover-html="summaryInstructions" popover-trigger="mouseenter" popover-placement="top"></i></h5>
      <textarea class="form-control summary-text" placeholder="" ng-model="case.summary" rows="3" maxlength="200" ng-disabled="!user" required></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4 class="h4-no-bottom-padding">Clinician</h4>
        <div class="col-lg-5">
          <div class="radio">
            <label>
              <input type="radio" name="clinician" ng-model="case.clinician" value="Ward" ng-disabled="!user">Dr. Ward
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="clinician" ng-model="case.clinician" value="Hendrix" ng-disabled="!user">Dr. Hendrix
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="clinician" ng-model="case.clinician" value="Chen" ng-disabled="!user">Dr. Chen
            </label>
          </div>          
        </div>
        <div class="col-lg-5">
          <div class="radio">
            <label>
              <input type="radio" name="clinician" ng-model="case.clinician" value="Best" ng-disabled="!user">Dr. Best
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="clinician" ng-model="case.clinician" value="Newbold" ng-disabled="!user">Dr. Newbold
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="clinician" ng-model="case.clinician" value="Other" ng-disabled="!user">Other
            </label>
          </div>          
        </div>
    </div>
  </div>

    <br>
    <button ng-hide="updateCaseFlag" class="btn btn-success" ng-click="submitCase()" ng-disabled="!user">Add case</button> 
    <button ng-show="updateCaseFlag" class="btn btn-primary" ng-click="updateCase()">Update</button>
    <button ng-show="updateCaseFlag" class="btn btn-warning" ng-click="cancelEdit()">Cancel</button>
  </div> 


  <div class="col-lg-8">
    <br class="visble-xs visble-sm visble-md hidden-lg">
     <div class="row animate-show" ng-show="user">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-lg-12">
            <h1>{{user.name}}</h1>
          </div>
          <div class="col-lg-3">
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">{{user.numNewCases}}</span>
                <i class="flaticon-badges1"></i> New cases:
              </li>
              <li class="list-group-item">
                <span class="badge">{{user.numRechecks}}</span>
                <i class="flaticon-checked21"></i> Rechecks:
              </li>
              <li class="list-group-item">
                <span class="badge">{{user.numProcedures}}</span>
                <span class="flaticon-scalpel1"></span> Procedures: 
              </li>
            </ul>

            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge">{{user.numDogs}}</span>
                <i class="flaticon-dog77"></i> Dogs:
              </li>
              <li class="list-group-item">
                <span class="badge">{{user.numCats}}</span>
                <i class="flaticon-cat19"></i> Cats:
              </li>
              <li class="list-group-item">
                <span class="badge">{{user.numHorses}}</span>
                <i class="flaticon-black200"></i> Horses:
              </li>
              <li class="list-group-item">
                <span class="badge">{{user.numOther}}</span>
                <i class="flaticon-hare"></i> Other:
              </li>
            </ul>
          </div>

          <div class="col-lg-5">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Cases seen:</h3>
              </div>
              <div class="panel-body">
                <highchart id="chart1" config="chartConfig"></highchart>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Quizlet <i class="fa fa-question-circle" uib-popover="This will NOT affect your grade." popover-trigger="mouseenter" popover-placement="top"></i></h3>
              </div>
              <div class="panel-body" ng-hide="quizlet.noMore">
                {{quizlet.quiz.question}}
                <!-- What class of drug is <b>latanoprost</b>? -->
                <div class="radio" ng-repeat="answer in quizlet.quiz.answers track by $index">
                  <label>
                    <input type="radio" name="answers" ng-model="$parent.quizlet.userAnswer" ng-value="{{$index}}" ng-disabled="!quizlet.answersOn">
                    {{answer}}
                  </label>
                </div>
                <div class="text-right">
                <button type="button" class="btn btn-primary btn-xs text-right" ng-click="submitAnswer()">{{quizlet.buttonPrompt}}</button>
                </div>
              </div>
              <div class="panel-body" ng-show="quizlet.noMore">
                You finished all the quiz questions! Nice job!
              </div>
            </div>
            <div class='animate-show' ng-show="activeAlert.msg">
              <uib-alert type="{{activeAlert.type}}">{{activeAlert.msg}}</uib-alert>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-lg-12">
        <h3 ng-hide="user" class="hidden-xs hidden-sm hidden-md"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Please enter your NetId (e.g. jsmith3) to the left to add cases to your caselog!</h3> 
        <h5 ng-hide="user" class="visble-xs visble-sm visble-md hidden-lg"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" style="padding:10px"></span> Please enter your NetId (e.g. jsmith3) above to add cases to your caselog!</h5> 
      </div>
    </div>
 
   <div class="row">
      <div>
         <table class="table table-condensed table-hover">
            <tr>
              <th ng-hide="user">Student</th>
              <th>Date</th>
              <th>PatientID</th>
              <th>Name</th>
              <th>Species</th>
              <th>Diagnoses</th>
              <th>Clinician</th>
              <th>Case Type</th>
              <th ng-show="user"></th>
            </tr> 
            <tr class="animate-show" tooltip-popup-delay='500' tooltip-trigger="mouseenter" uib-tooltip="{{studentcase.summary}}" tooltip-append-to-body="true" ng-repeat="studentcase in cases | orderBy:'date'">
              <td ng-hide="user">{{studentcase.studentName}}</td>
              <td>{{studentcase.date | date:'MMM dd, yyyy'}}</td>
              <td><a href="" ng-click="openPatientModal(studentcase.patientId)">{{studentcase.patientId}}</a></td>
              <td><a href="" ng-click="openPatientModal(studentcase.patientId)">{{studentcase.patientName}} {{studentcase.patientSurname}}</a></td>
              <td>{{studentcase.patientSpecies}}</td> 
              <td class="ellipsis">{{studentcase.diagnoses | prettyDiagnosisArrayOutput}}</td> 
              <td>{{studentcase.clinician }}</td> 
              <td>{{studentcase.caseType | capitalize}}</td>
              <td ng-show="user">
                <button type="button" class="btn btn-default btn-xs" ng-click="editCase(studentcase)">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="deleteCase(studentcase)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
        </table> 
      </div>
    </div> 
  </div> <!-- End second column -->
</div> <!-- end row -->
</div>
