<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <highchart id="chart1" config="caseDistChartConfig"></highchart>
          </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <highchart id="chart2" config="speciesChartConfig"></highchart>
          </div>
        </div>
    </div>
  </div>
</div>
 <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
          <input type="text" class="form-control" placeholder="Search by anything" ng-model="search"><br>
       <table class="table table-condensed table-hover">
          <tr>
            <!-- <th>Student</th> -->
            <th>Date</th>
            <th>PatientID</th>
            <th>Name</th>
            <th>Species</th>
            <th>Diagnoses</th>
            <th>Clinicians</th>
            <th>Student</th>
            <th>Case Type</th>
            <!-- <th></th> -->
          </tr> 
          <tr class="animate-show" tooltip-popup-delay='500' tooltip-trigger="mouseenter" tooltip="{{studentcase.summary}}" tooltip-append-to-body="true" dir-paginate="studentcase in caseArray | filter:search | orderBy:'date' |itemsPerPage: 15">
            <!-- <td>{{studentcase.studentName}}</td> -->
            <td>{{studentcase.date | date:'MMM dd, yyyy'}}</td>
            <td>{{studentcase.patientId}}</td>
            <td>{{studentcase.patientName}} {{studentcase.patientSurname}}</td>
            <td>{{studentcase.patientSpecies}}</td> 
            <td>{{studentcase.diagnoses | prettyArrayOutput}}</td> 
            <td>{{studentcase.clinicians | prettyArrayOutput }}</td> 
            <td>{{studentcase.studentName}}</td>
            <td>{{studentcase.caseType | capitalize}}</td>
            <!-- <td><button type="button" class="btn btn-default btn-xs" ng-click="deleteCase(studentcase)"> -->
            <!-- <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete </button></td> -->
          </tr>
      </table> 

      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
    <!-- <button ng-click="debug()"></button> -->
  </div> <!-- End second column -->
</div> <!-- end row -->
<!--           <div class="panel panel-default">
            <div class="panel-body">

              <ul>
                <li dir-paginate="t in tests | itemsPerPage: 3">{{ t }}</li>
                
              </ul>
            </div>
            <dir-pagination-controls></dir-pagination-controls>
          </div> -->