<div class="modal-header">
    <h3 class="modal-title">{{patientName}} {{patientSurname}} ({{patientId}})</h3>
</div>
<div class="modal-body">
  <timeline>
    <timeline-event ng-repeat="case in patientCases">
      <timeline-badge class="{{case.badgeClass}}">
        <i class="glyphicon {{case.badgeIconClass}}"></i>
      </timeline-badge>
      <timeline-panel class="{{case.badgeClass}}">
        <timeline-heading>
          <h4>{{case.date | date:'MMMM dd, yyyy'}} - ({{case.caseType | capitalize }})</h4>
          <small class="text-muted"><i class="glyphicon glyphicon-time"></i>About {{case.when}} days ago</small>
        </timeline-heading>
        <br>
        <p>{{case.summary}}</p>
        <b>Diagnoses:</b> {{case.diagnoses | prettyDiagnosisArrayOutput}}
        <div ng-if="case.surgeryProcedure">
          <b>Procedure(s):</b> {{case.procedures | prettyProcedureArrayOutput}}
        </div>
      <timeline-footer>
        Seen by <b>Dr. {{case.clinician}}</b> with {{case.studentName}} (student)
      </timeline-footer>
      </timeline-panel>
    </timeline-event>
  </timeline>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>