<div class="container">
  <div class="row row-centered">
    <div class="col-lg-3 col-centered">
        <div class="panel panel-black">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{numStudents}}</div>
                        <div>Students</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-centered">
        <div class="panel panel-dkblue">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <!-- <i class="fa fa-tasks fa-5x"></i> -->
                        <i class="flaticon-badges1-dashboard"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{avgNewCases |number:2}}</div>
                        <div>Avg new cases/student</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-centered">
        <div class="panel panel-aqua">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <!-- <i class="fa fa-shopping-cart fa-5x"></i> -->
                        <i class="flaticon-checked21-dashboard"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{avgRechecks | number:2}}</div>
                        <div>Avg rechecks/student</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-centered">
        <div class="panel panel-ltblue">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <!-- <i class="fa fa-support fa-5x"></i> -->
                        <i class="flaticon-scalpel1-dashboard"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{avgProcedures | number:2}}</div>
                        <div>Avg procedures/student</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row row-centered">
  	<div class="col-lg-12 col-centered">
  		<input type="text" class="form-control" placeholder="Search student name" ng-model="search.name"><br>
  		<uib-accordion close-others="true">
  			<uib-accordion-group heading="{{student.name}} ({{student.netId}}) - &thinsp; Cases seen: {{student.numNewCases + student.numRechecks + student.numProcedures}} (New: {{student.numNewCases}}, Rechecks: {{student.numRechecks}}, Procedures: {{student.numProcedures}})" class="animate-show" ng-repeat="student in students | filter:search| orderBy:'date'">
  			<h4>Cases seen:</h4>
  			<table class="table table-condensed table-hover">
  				<tr>
  					<tr>
              <th>Date</th>
  						<th>Patient ID</th>
  						<th>Name</th>
  						<th>Species</th>
  						<th>Diagnoses</th>
              <th>Clinician</th>
              <th>Case Type</th>
  					</tr>
  				</tr>
  				<tr tooltip-popup-delay='500' tooltip-trigger="mouseenter" uib-tooltip="{{case.summary}}" tooltip-append-to-body="true"  ng-repeat="case in student.cases | orderBy:'patientName'">
            <td>{{case.date | date:'MMM dd, yyyy'}}</td>
  					<td>{{case.patientId}}</td>
  					<td>{{case.patientName}} {{case.patientSurname}}</td>
  					<td>{{case.patientSpecies}}</td>
  					<td>{{case.diagnoses | prettyDiagnosisArrayOutput}}</td>
            <td>{{case.clinician }}</td>
            <td>{{case.caseType | capitalize}}</td>
  				</tr>
  			</table>
  		</uib-accordion>
  	</div> 
  </div> 
</div>